<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">

.body {
padding: 50px;
background-color: gray;
}

.input {
width: 292px;
}

.select {
width: 300px;
}

.row {
margin-top: 10px;
margin-bottom: 10px;
}

.radius{
border: 2px solid;
border-radius: 5px;
}
</style>

</head>
<body style="background-color:#e2e2e2;">
<h1>Edit book</h1>
<form id="edit-form" action="edit.html" th:action="@{/book/edit(id=${book.id})}" th:method="post" th:object="${book}">

    <div class="row">
        <div for="id-input">Id:</div>
        <input class="input radius" id="id-input" type="text" th:value="*{id}"/>
    </div>

    <div class="row">
        <div for="book-title-input">Title:</div>
        <input class="input radius" id="book-title-input" name="title" type="text" th:value="*{title}"/>
    </div>

    <div class="row">
        <div for="book-author-select">Author:</div>
        <select class="select radius" id="book-author-select" name="authorId">
            <option th:each="author : ${authorList}"
                    th:value="${author.getId()}"
                    th:text="${author.getFullName()}"
                    th:selected="${book.getAuthor().equals(author)}">author
            </option>
        </select>
    </div>

    <div class="row">
        <div for="book-genre-select">Genres:</div>
        <select class="select radius" multiple id="book-genre-select" name="genresIds">
            <option th:each="genre : ${genreList}"
                    th:value="${genre.getId()}"
                    th:text="${genre.getName()}"
                    th:selected="${book.getGenres().contains(genre)}">genres
            </option>
        </select>
    </div>
    <div class="row">
        <button class="radius" type="submit" th:text="Save"></button>
        <a href="list.html" th:href="@{/book/all}">
            <button class="radius" type="button" th:text="Cancel"></button>
        </a>
    </div>
</form>

</body>
</html>

